.container-body {
  position: relative;
  top: 50px;
  left: 50px;
}
.card {
  background-color: #fcd3b2;
  height: 420px;
}
.card-body {
  position: relative;
  top: 5px;
  left: 10px;
}
h1 {
  color: rgb(26, 105, 173);
  font-size: 30px;
}
#search-form {
  position: relative;
  top: 12px;
}

.search {
  background-color: rgb(26, 105, 173);
  color: #fff;
  border-radius: 3px;
}

#date {
  font-size: 18px;
  position: relative;
  left: 105px;
  top: -41px;
  color: rgb(49, 49, 49);
}

#temp {
  font-size: 40px;
  position: relative;
  left: 90px;
  top: -60px;
  color: rgb(49, 49, 49);
}

.units {
  font-size: 18px;
  position: relative;
  left: 90px;
  top: -60px;
  color: rgb(49, 49, 49);
}

#fahranheit-link,
#celsuis-link {
  text-decoration-line: none;
}

#description {
  font-size: 18px;
  position: relative;
  left: 90px;
  top: -65px;
  color: rgb(49, 49, 49);
}
#description:first-letter {
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: -283px;
  left: -30px;
  margin: auto 0;
}

.quote {
  position: relative;
  left: 185px;
  top: -300px;
  margin: auto 0;
}

.link {
  position: relative;
  bottom: -50px;
  left: 50px;
}
